@import "~@/styles/vars";
@import "~@/styles/unit";
@import "~@/styles/util";

.MarketOverview {
  background-color: $clr_white;
  &__list {
    display: flex;
    justify-content: space-between;
  }
  &__card {
    flex: 1;
    margin: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 12px 0 $borderColorLighter;
    text-align: center;
    &:first-child {
      margin-left: 0;
    }
    &:last-child {
      margin-right: 0;
    }
    &-title {
      font-size: $fontSmall;
      color: $colorRegularText;
    }
  }
}
