@import "~@/styles/vars";

.stock-follow-list {
  &__item {
    padding: 14px 20px;
    border-bottom: 1px solid $borderColorLight;
    &:first-child {
      border-top: 1px solid $borderColorLight;
    }
    & text {
      margin-right: 16px;
    }
    &-name,
    &-code {
      width: 40%;
      display: inline-block;
    }
    &-icon {
      color: $borderColorLight;
    }
  }
}
