@import "~@/styles/vars";
@import "~@/styles/unit";

.KeyPoint {
  background-color: $clr_white;
  &__list {
    display: flex;
    justify-content: space-between;
  }
  &__tip {
    color: $colorPlaceholder;
  }
  &__card {
    box-shadow: 0 2px 12px 0 $boxShadowLight;
    border-radius: 8px;
    background: linear-gradient(360deg, $colorBackgroundPink 0%, $clr_white 100%);
    &-name {
      color: $colorDanger;
    }
    &-num {
      color: $colorDanger;
    }
    &-gap {
      color: $colorDanger;
      font-size: $fontSmall;
    }
    &-gap-rate {
      color: $colorDanger;
      font-size: $fontSmall;
    }
  }
}
