@import "~@/styles/vars";
@import "~@/styles/unit";

.KeyPoint {
  background-color: $clr_white;
  &__list {
    display: flex;
    justify-content: space-between;
  }
  &__tip {
    color: $colorPlaceholder;
    font-size: $fontMedium;
  }
  &__card {
    border-radius: 8px;
    background: linear-gradient(360deg, rgba(233,225,227,0.9808298319327731) 0%, rgba(0,224,255,0) 100%);
    &-name {
      color: $colorDanger;
      font-size: $fontPrimary;
    }
    &-num {
      color: $colorDanger;
      font-size: $fontPrimary;
    }
    &-gap {
      color: $colorDanger;
      font-size: $fontMedium;
    }
    &-gap-rate {
      color: $colorDanger;
      font-size: $fontMedium;
    }
  }
}
